@page
@using JLaraSystemLeng.Permissions
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using JLaraSystemLeng.Web.Pages.Exercise.Exercise
@using JLaraSystemLeng.Localization
@using JLaraSystemLeng.Web.Menus
@model IndexModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<JLaraSystemLengResource> L
@inject IAuthorizationService Authorization
@{
    PageLayout.Content.Title = L["Exercise"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:Exercise"].Value);
    PageLayout.Content.MenuItemName = JLaraSystemLengMenus.Exercise;
}

@section scripts
{
    <abp-script src="/Pages/Exercise/Exercise/index.js" />
}
@section styles
{
    <abp-style src="/Pages/Exercise/Exercise/index.css"/>
}
@section content_toolbar
{
	@if (await Authorization.IsGrantedAsync(JLaraSystemLengPermissions.Exercise.Create))
    {
        <abp-button id="NewExerciseButton"
            text="@L["CreateExercise"].Value"
            icon="plus"
            button-type="Primary" />
    }
}

<abp-card>
    <abp-card-body>
        <abp-row class="mb-3">
            <a abp-collapse-id="ExerciseCollapse" class="text-secondary">@L["TableFilter"] </a>
        </abp-row>
        <abp-dynamic-form abp-model="ExerciseFilter" id="ExerciseFilter" required-symbols="false" column-size="_3">
            <abp-collapse-body id="ExerciseCollapse">
                <abp-form-content />
            </abp-collapse-body>
        </abp-dynamic-form>
        <hr />
        <abp-table striped-rows="true" id="ExerciseTable" class="nowrap"/>
    </abp-card-body>
</abp-card>
