@page
@using JLaraSystemLeng.Permissions
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using JLaraSystemLeng.Web.Pages.Progress.Progres
@using JLaraSystemLeng.Localization
@using JLaraSystemLeng.Web.Menus
@model IndexModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<JLaraSystemLengResource> L
@inject IAuthorizationService Authorization
@{
    PageLayout.Content.Title = L["Progres"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:Progres"].Value);
    PageLayout.Content.MenuItemName = JLaraSystemLengMenus.Progres;
}

@section scripts
{
    <abp-script src="/Pages/Progress/Progres/index.js" />
}
@section styles
{
    <abp-style src="/Pages/Progress/Progres/index.css"/>
}
@section content_toolbar
{
	@if (await Authorization.IsGrantedAsync(JLaraSystemLengPermissions.Progres.Create))
    {
        <abp-button id="NewProgresButton"
            text="@L["CreateProgres"].Value"
            icon="plus"
            button-type="Primary" />
    }
}

<abp-card>
    <abp-card-body>
        <abp-row class="mb-3">
            <a abp-collapse-id="ProgresCollapse" class="text-secondary">@L["TableFilter"] </a>
        </abp-row>
        <abp-dynamic-form abp-model="ProgresFilter" id="ProgresFilter" required-symbols="false" column-size="_3">
            <abp-collapse-body id="ProgresCollapse">
                <abp-form-content />
            </abp-collapse-body>
        </abp-dynamic-form>
        <hr />
        <abp-table striped-rows="true" id="ProgresTable" class="nowrap"/>
    </abp-card-body>
</abp-card>
