<nav class="navbar">
    <div class="nav-container">

        <ul class="nav-links" [class.active]="isMenuOpen">
            <li><a [class.active]="isRouteActive('')" (click)="redirectTo('')">Inicio</a></li>
            <li><a [class.active]="isRouteActive('courses')" (click)="redirectTo('courses')">Cursos</a></li>
            <li><a [class.active]="isRouteActive('languages')" (click)="redirectTo('languages')">Idiomas</a></li>
            <li><a [class.active]="isRouteActive('about')" (click)="redirectTo('about')">About</a></li>
            <li><a [class.active]="isRouteActive('contact')" (click)="redirectTo('contact')">Contacto</a></li>
            @if (currentUser == null || currentUser.id == null) {
                <li><a (click)="login()">Iniciar Sesión</a></li>
            }@else {
                <li><a [class.active]="isRouteActive('progress')" (click)="redirectTo('progress')">Progreso</a></li>
                <li><a [class.active]="isRouteActive('learning')" (click)="redirectTo('learning')">Aprender</a></li>
                <li><a (click)="logout()">Cerrar Sesión</a></li>
            }
                
        </ul>
        <div class="menu-toggle" (click)="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>